.cart_item_main_wrapper {
  /* margin: 8rem 4rem 4rem 4rem; */
  /* margin-top: 8rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.cart_item_base_wrapper {
  min-width: 80%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.space_bettwen {
  justify-content: space-between;
}

.cart_item_section01 {
  /* min-width: 1200px; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.cart_item_main_heading {
  font-family: var(--font-base);
  font-size: 2.5rem;
  font-weight: 500;
}

.back_to_shop {
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--font-base);
  color: #0c8599;
  padding: 8px 16px;
  border-radius: 1rem;
  box-shadow: inset 0 0 3px 1px #22b8cf;
}

.back_to_shop_section {
  display: flex;
  flex-direction: row-reverse;
}

.back_to_shop:hover {
  color: aliceblue;
  background: #22b8cf;
  transition: 0.5s ease-in-out;
}

.cart_item_section02 {
  display: flex;
  /* flex-direction: column; */
}

.section_02_flex01 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section_02_flex02 {
  flex: 1;
}

.first_text_section {
  display: flex;
  justify-content: space-between;
}

.flex_left {
  /* width: 55%; */
  display: flex;
  flex: 1;
  /* flex-direction: column;
  /* text-align: left; */
  /* justify-content: center; */
}

.img_sec {
  margin-top: 25px;
  display: flex;
  gap: 20px;
  padding-left: 20px;
}

.name_title {
  font-size: 1rem;
  font-weight: 500;
}

.price_sec,
.qty_sec,
.gst_sec,
.tot_sec {
  display: flex;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .display_at_600 {
    display: none;
  }
}

.pro_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

@media (max-width: 1090px) {
  .flex_left {
    display: flex;
    flex-direction: column;
  }
}

.flex_right {
  /* width: 45%; */
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.cart_item_name {
  color: #424b54;
  max-width: 80%;
}

.cart_item_simple_text {
  float: left;
  font-size: 16px;
  font-family: var(--font-base);
  font-weight: 600;
  text-align: center;
  width: 108px;
}

.cart_item_line {
  margin: 1rem 0;
  width: 100%;
  height: 1px;
  background: #686868;
}

.card_item_photo_section {
  display: flex;
  margin: 2rem 0;
}

.card_item_img {
  width: 180px;
  height: 160px;
}

.cart_img_flex_wrapper {
  gap: 2rem;
  margin-top: 2%;
}

.card_item_img_text_wrapper {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

.card_item_img_text_wrapper p {
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 500;
}

.cartitem_remove_link {
  font-family: var(--font-base);
  font-size: 1.2rem;
  font-weight: 600;
  color: #0c8599;
  margin-top: 2rem;
  border-bottom: #22b8cf 2px solid;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  background: none;
  cursor: pointer;
}

.cartitem_remove_link:hover {
  color: #e04537;
  transition: all 0.5s ease;
  border-bottom: none;
  border: none;
}

.prices_text {
  align-items: baseline;
  margin: 8.1% 0;
  display: flex;
  gap: 20px;
}

.card_price {
  float: left;
  font-size: 1.2rem;
  font-family: var(--font-base);
  font-weight: 600;
}

.cart_item_section03 {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  /* margin-left: 55%; */
  align-items: center;
  margin-bottom: 10%;
  flex-direction: column;
}

.sub_total_wrap {
  display: flex;
  flex-direction: column;
  order: -1;
  float: right;
  gap: 1rem;
}

.sub_total_wrap_text {
  display: flex;
  justify-content: space-between;
  /* gap: 6rem; */
}

.sub_total_wrap_dis {
  float: right;
  font-family: var(--font-base);
  font-size: 18px;
  color: #797979;
}

.cart_item_section03 link {
  font-family: var(--font-base);
  font-size: 1.2rem;
  font-weight: 600;
  color: #0c8599;
  margin-top: 2rem;
  border-bottom: #22b8cf 2px solid;
}

.check_out_btn {
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--font-base);
  color: #fff;
  background: #22b8cf;
  padding: 8px 2rem;
  border-radius: 1rem;
}

.check_out_btn:hover {
  box-shadow: inset 0 0 3px 1px #22b8cf;
  color: #0c8599;
  background: none;
  transition: ease-in-out 0.5s all;
}

.fill_wrapper {
  min-height: 60vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.fill_base {
  max-width: 50%;
  max-height: 50%;
}

.fill_btn {
  font-family: var(--font-base);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  /* color: #fff; */
  padding: 5px 10px;
  /* background: #22b8cf; */

  border-color: #22b8cf;
  color: #fff;
  box-shadow: 0 0 40px 40px #22b8cf inset, 0 0 0 0 #22b8cf;
  transition: all 150ms ease-in-out;
}

.fill_btn:hover {
  color: #22b8cf;
  background: #fff;
  /* transition: 500ms ease-out all; */
  box-shadow: 0 0 10px 0 #22b8cf inset, 0 0 10px 4px #22b8cf;
}

@media (max-width: 1440px) {
  .cart_item_base_wrapper {
    margin-top: 5rem;
  }

  .sub_total_wrap_dis {
    font-size: 15px;
  }

  .cart_item_section01 {
    margin-bottom: 1rem;
    gap: 1rem;
  }

  .card_item_photo_section {
    margin: 1rem 0;
  }
}

@media (max-width: 750px) {
  .cart_item_base_wrapper {
    min-width: 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .prices_text {
    gap: 8px;
  }

  .cart_img_flex_wrapper {
    margin-left: 10px;
  }

  .card_item_img {
    width: 100px;
    border: 2px solid black;
    object-fit: cover;
    height: 100px;
  }

  .card_item_img_text_wrapper p,
  .qty_no {
    font-size: 16px;
    font-weight: 500;
  }

  .qty_no {
    display: flex;
    justify-content: space-around;
  }

  .quantity_box {
    width: 80px;
    padding: 0px;
  }

  .cart_item_simple_text {
    font-size: 16px;
    font-weight: 500;
  }

  .flex_left_price_text {
    /* display: none !important; */
  }

  .flex_left {
    /* width: 55%; */
    flex: 0;
    width: 0px !important;

    /* text-align: left; */
    /* justify-content: center; */
  }

  .flex_right {
    /* width: 45%; */
    flex: auto;
    margin-right: 0px;
    /* width: 106% !important; */
  }
}

@media (max-width: 600px) {

  .flex_right,
  .space_bettwen,
  .section_02_flex01,
  .cart_item_line {
    display: none !important;
  }

  .cart_item_base_wrapper {
    gap: 0rem;
  }

  .sub_total_wrap {
    margin-top: 50px;
  }

  .display_at_600 {
    display: initial;
  }
}

@media (max-width: 500px) {
  .cart_item_base_wrapper {
    gap: 0;
    max-width: 90%;
    margin-top: 24%;
    margin-bottom: 14%;
  }

  .pro_img {
    height: 130px;
    width: 130px;
    object-fit: contain;
  }

  .cart_item_main_heading {
    font-size: 28px;
  }

  .back_to_shop {
    padding: 7px 14px;
    font-size: 13px;
    font-weight: 500;
    display: flex;

    order: -1;
  }

  .cart_item_section01 {
    margin-bottom: 22px;
    gap: 3px;
  }

  .cart_item_line {
    margin: 5px 0;
  }

  /* .cart_item_section03 {
    display: flex;
     justify-content: space-between;
    margin-left: 55%;
    align-items: center;
     flex-direction: column;
  } */

  .cart_img_flex_wrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .sub_total_wrap_dis p {
    gap: 1.5rem;
    font-size: 14px;
  }

  .card_item_img_text_wrapper {
    gap: 5px;
  }

  .flex_right_price_text {
    margin-top: 10%;
  }

  .cart_item_section02 {
    flex-direction: column;
  }

  .check_out_btn {
    font-size: 14px;
    padding: 7px 14px;
  }

  .cartitem_remove_link {
    font-size: 1rem;
  }

  .cart_item_simple_text {
    font-size: 1rem;
    font-weight: 500;
    width: 113px;
  }

  .prices_text {
    margin: 4.1% 0;
  }

  .card_item_img_text_wrapper {
    margin: 10px 0;
  }

  .card_item_img_text_wrapper p {
    font-size: 1.2rem;
    /* white-space: nowrap; */
  }

  .quantity_box {
    padding: 0px 6px;
  }
}

/* @media (max-width: 750px)
.flex_right {
    width: 106% !important;
    
}
.flex_right {
    
    flex: 1 1;
    display: flex;
    justify-content: flex-end;} */