.productpage__wrapper {
  min-height: 100vh;
  background: #fff;
  display: flex;
  gap: 5rem;
}

.main__section_padding02 {
  /* padding: 5.6rem 9.4rem; */
  margin-top: 85px;
  margin-left: 35px;
  margin-right: 35px;
}

.tabex {
  color: #25ced1;
}

/* *** image side wrapper start *** */

.productpage_photo_side_wrapper {
  margin-top: 3rem;
  max-width: 550px;
}

.productpage_img_wrapper {
  /* width: 540px;
  height: 433px; */
  background: #e5e5e5;
  padding: 1rem;
  border-radius: 1px;
}

.singleproduct_img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.productpage_photo_side_wrapper-text_wrapper {
  margin-top: 2rem;
}

.singleproduct_item_dis {
  font-size: 22px;
  font-family: var(--font-main);
  color: #000;
}

.singleproduct_company_circle {
  /* border: 2px solid #D7FEF4;
    width: fit-content;
    border-radius: 50px;
    margin-top: 1rem;
    align-items: center; */
  text-align: start;
  width: fit-content;
  /* justify-content: center; */
}

.singleproduct_delivery {
  font-family: var(--font-base);
  color: #306a9c;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 1rem;
  border: 2px solid #d7fef4;
  border-radius: 2rem;
}

/* *** image side wrapper end *** */

/* *** dis side wrapper start *** */

.productpage_dis_side_wrapper {
  margin-top: 2rem;
  max-width: 700px;
}

.singleproduct_name {
  color: #424b54;
}

.sellername_wrap {
  /* background: #0077b6;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 50px; */
  text-align: start;
}

.sellername_text {
  color: blue;
  /* background: #0077b6; */
  font-size: 16px;
  font-weight: 500;
  /* margin: 0 4rem; */
  padding: 7px;
  border-radius: 2rem;
  width: fit-content;
  /* margin: 0; */
}

.sellername_text:hover {
  color: #0077b6;
  background: #fff;
  box-shadow: inset 0 -2px 0 #0077b6;
  border-style: none;
  width: 1px;
  transition: all 0.2s ease-in;
}

.brand_text {
  color: #fff;
  background: #dc6205;
  font-size: 16px;
  font-weight: 400;
  /* margin: 0 4rem; */
  padding: 6px 18px;
  border-radius: 2rem;
  width: fit-content;
  /* margin: 0; */
}

.singleproduct_price_addtocart_wrapper {
  display: flex;
  justify-content: space-between;
  /* padding-left: 20px; */
  /* gap: 10rem; */
}

.singleproduct_twoprice_wrap {
  display: flex;
  align-items: baseline;
  /* justify-content: center; */
  gap: 0.6rem;
}

.singleproduct_price {
  color: #25ced1;
  /* margin-top: 1rem; */
}

.singleproduct_price_line {
  text-decoration: line-through;
  color: #b4b4b4;

  font-size: 18px;
  font-weight: 500;
  /* margin: 0; */
}

/* quntity box start */

.delivered {
  display: flex;
  margin-top: 12px;
  gap: 4px;
}

.seller_details {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* gap: 35px; */
}

.sellerInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rtn_exchange {
  height: 35px;
  width: 20px;
}

.return-time-sec-flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

.singleproduct_qty {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 27px;

  align-items: flex-start;
  text-align: center;
}

.pincode_status {
  gap: 8px;
  display: flex;
}

.pincodebtn_sp {
  background: #0c8599;
  border: 0;
  color: white;
  padding: 15px;
  transition: 0.4s ease;
  height: 1px;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.location_sp {
  height: 20px;
  width: 20px;
}

.quantity_text {
  font-family: var(--font-base);
  font-size: 1rem;
  font-weight: 600;
  color: #686868;
  margin-bottom: 5px;
}

.quantity_box {
  border: #25ced1 2px solid;
  padding: 5px 10px;
}

.qty_no {
  margin: 0;
  width: 70px;
  font-size: 16px;
  font-family: var(--font-base);
  font-weight: 500;
  display: flex;
  justify-content: space-around;
}

.qty_plus {
  color: #25ced1;
  border: none;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.qty_minus {
  color: #686868;
}

/* quntity box end */

/* ** addto cart button start ** */

.singleproduct_addtocard_wrap {
  background: #25ced1;
  padding: 0.5rem 1rem;
  width: fit-content;
  height: fit-content;

  display: flex;
  gap: 14px;

  align-self: flex-end;
}

.singleproduct_addtocard_logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.singleproduct_addtocard_text {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0;
  font-family: var(--font-base);
}

/* ** addto cart button end ** */

/* logos section start */

.singleproduct_logos_section {
  width: 700px;
  padding: 1rem;
  height: auto;
  border: 1px solid #25ced1;
  display: flex;
  flex-wrap: wrap;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.singlelogo_wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  max-width: 260px;
  min-width: 260px;
  margin: 8px 1.8rem;
  /* justify-content: center; */
}

.singlelogo_wrapper_text {
  display: flex;
  flex-direction: column;
}

.singlelogo_wrapper_logobox {
  min-width: 60px;
  min-height: 60px;
  display: flex;

  align-items: center;
  justify-content: center;

  background: #d9f4fa;
}

.singlelogo_wrapper_logo {
  width: 30px;
  height: 30px;
  color: #2f74b1;
}

.singlelogo_wrapper_name {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-main);

  line-height: 20px;
  margin-bottom: 3px;
}

.singlelogo_wrapper_dis {
  font-family: var(--font-base);
  font-size: 13px;
  color: #686868;
  margin: 0;
}

/* logos section end */

/* *** dis side wrapper end *** */

/* **** MEDIA QUERY START **** */

@media (max-width: 1440px) {
  .main__section_padding02 {
    /* padding: 5.6rem 6.4rem; */
  }

  .productpage__wrapper {
    /* gap: 5rem; */
  }

  /* 
  .productpage_img_wrapper {
    width: 460px;
    height: 390px;
  } */

  .productpage_photo_side_wrapper {
    max-width: 100%;
  }

  .productpage_dis_side_wrapper,
  .singleproduct_logos_section {
    padding-left: 30px;
    max-width: 640px;
  }

  .singlelogo_wrapper {
    margin: 8px 0.8rem;
  }

  .singleproduct_qty {
    margin-top: 1rem;
  }
}

@media (max-width: 1214px) {
  .productpage__wrapper {
    display: flex;
    /* flex-direction: column; */
  }

  .productpage_dis_side_wrapper,
  .singleproduct_logos_section {
    padding-left: 0px;
  }

  .productpage_img_wrapper {
    max-width: 475px;
  }

  .singleproduct_price_addtocart_wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .singleproduct_addtocard_wrap {
    align-self: flex-start;
  }
}

@media screen and (max-width:1160px) {
  .singleproduct_logos_section {
    width: 100%;
  }

}

@media screen and (max-width:920px) {
  .productpage__wrapper {
    flex-direction: column;
  }

}

@media (max-width: 700px) {
  .singleproduct_logos_section {
    width: 100%;
  }
}

/* .productpage_dis_side_wrapper,
  .singleproduct_logos_section {
    max-width: 590;
  } */

@media screen and (max-width:560px) {
  .singleproduct_price_addtocart_wrapper {
    flex-direction: column;
    gap: 20px;

  }

  .singleproduct_addtocard_wrap {
    align-self: flex-start;
  }
}

@media (max-width: 460px) {
  .productpage__wrapper {
    flex-direction: column;
    /* gap: 1rem; */
  }

  .main__section_padding02 {
    /* padding: 3rem 3rem; */
  }

  .productpage_img_wrapper {
    width: 100%;
    height: 245px;
    padding: 1rem;
  }

  /* width: 350px !important;
    display: flex;
    height: 350px !important;
    background: #e5e5e5;
    padding: 2rem;
    border-radius: 1px;
    flex-direction: column-reverse; */

  .singleproduct_price_addtocart_wrapper {
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 2rem;
  }

  .singleproduct_logos_section {
    width: 100%;
    padding: 2px;
  }

  .singlelogo_wrapper {
    max-width: 204px;
    min-width: 195px;
  }

  .singleproduct_addtocard_wrap {
    align-self: center;
  }

  .singleproduct_name {
    /* text-align: center; */
  }

  .singleproduct_item_dis {
    font-size: 20px;
    text-align: justify;
  }

  .singleproduct_qty {
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
    margin-top: 5px;
  }

  .sellername_wrap {
    text-align: center;
  }

  .sellername_text {
    width: auto;
    margin: 1rem 3rem;
  }

  .singleproduct_company_circle {
    text-align: center;
    width: auto;
  }

  .productpage_photo_side_wrapper {
    min-height: 500px;
  }

  .productpage_img_wrapper {
    padding: 0px;
    background-color: transparent;
  }
}

/* **** MEDIA QUERY END **** */