.tic_title {
  width: 100%;
  height: 100%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0b254b;
  margin-top: 150px;
  margin-bottom: 30px;
}

.ticket_main {
  width: 100%;
  /* height: 800px; */
  /* padding: 50px; */
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.form_style {
  border: solid black 1px;
  padding: 15px;
  border-radius: 10px;
  height: fit-content;
  width: 700px;
}
.tic_btn {
  background: #0c8599;
  border: 0;
  color: white;
  padding: 15px;
  transition: 0.4s ease;
  height: 1px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  border-radius: 6px;
}

.Ticket_details_main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 3%;
  background-color: #fff;
}

.ticket_order,
.ticket_pname,
.ticket_subject,
.ticket_pdesc,
.ticket_image {
  display: flex;

  /* width: 155px; */
}

.tic_title {
  width: 100%;
  height: 100%;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0b254b;
  margin-top: 40px;
  margin-bottom: 20px;
}

.ticket_main {
  width: 100%;
  /* height: 800px; */
  /* padding: 50px; */
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.form_style {
  border: solid black 1px;
  padding: 15px;
  border-radius: 10px;
  height: fit-content;
  width: 700px;
}

.tic_btn {
  background: #0c8599;
  border: 0;
  color: white;
  padding: 15px;
  transition: 0.4s ease;
  height: 1px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  border-radius: 6px;
}

.ticket-add-main {
  overflow-y: scroll;
  max-height: 685px;
}

/* media queries */
@media (max-width: 800px) {
  .form_style {
    border: solid black 1px;
    padding: 15px;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
  }
}

/* media queries */
@media (max-width: 800px) {
  .form_style {
    border: solid black 1px;
    padding: 15px;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
  }
}
