.checkout_wrapper {
  margin-top: 200px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  gap: 2%;
  justify-content: center;
}

.checkout_mcard {
  display: none;
}

.contact_info {
  border: 20px solid #f8f9fa;
  padding: 1% 3% 1% 3%;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.checkout_section {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact_title {
  font-size: 125%;
  font-weight: 600;
  text-align: center;
}

.login_helper {
  text-align: center;
  font-size: 120%;

  margin-top: 4%;
}

.subscription_input {
  width: 100%;
  height: 40px;

  margin-top: 5%;

  border: 1px solid #ced4da;
}

.confirmation {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;

  font-size: 120%;
}

.divider {
  margin: 10% 0 10% 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 4%;
  font-size: 140%;
}

.divider span {
  width: 100%;
  background: rgb(0, 0, 0);
  height: 1px;
}

.contact_form {
  display: flex;
  flex-direction: column;
}

.fullname,
.phone,
.address,
.country,
.state,
.city,
.postal_code {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}

.contact_lable {
  font-size: 150%;
}

.contact_input {
  height: 40px;

  border: 1px solid #ced4da;
}

.contact_submit_btn {
  background: #0c8599;
  font-size: 140%;
  font-weight: 600;
  color: #f8f9fa;
  border: none;

  margin-top: 10px;
  padding: 10px 20px 10px 20px;
}

/*  */

.checkout_card {
  display: flex;
  flex-direction: row;
  border: 20px solid #f8f9fa;
  padding: 2% 3% 1% 3%;
  overflow: scroll;
}

.payment_section {
  display: flex;
  flex-direction: column;
  border: 20px solid #f8f9fa;
  padding: 3%;
  gap: 6px;
  margin-top: -20px;
}

.rpay,
.cod {
  display: flex;
  flex-direction: row;
  gap: 2%;

  align-items: center;

  font-size: 140%;
  font-weight: 600;
}

.wallet_bal {
  display: flex;
  flex-direction: row;
  gap: 2%;

  align-items: center;

  font-size: 110%;
  font-weight: 400;
}

.meta_data {
  font-size: 160%;
  font-weight: 600;
}

.product_name {
  font-size: 140%;
  margin-bottom: 10px;
}

.pn_lg_wrap {
  width: 99%;
  overflow: hidden;
  overflow-x: scroll;
  display: inline-block;
  white-space: nowrap;
  margin-bottom: -10px;
}

.shipping_pre {
  font-size: 140%;
  font-weight: 600;
  margin-bottom: 20px;
}

.grand_total_pre {
  font-size: 140%;
  margin-bottom: 20px;
}

.pre_data {
  margin-right: 25%;
  width: 50%;
}

.pre_data hr {
  /* width: 385px; */
}

.post_data {}

.post_data hr {
  /* margin-left: -220%;
  margin-right: -60%; */
}

.shipping_post {
  font-size: 140%;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 36px;
}

.sub_price {
  margin-top: -19px;
}

.tot_price {
  margin-top: 53px;
}

.shipping_opt {
  font-weight: 600;
  margin-left: 10px;
}

.grand_total_post {
  font-size: 140%;
  margin-bottom: 20px;
}

.co_login_btn {
  background: #0c8599;
  font-size: 140%;
  font-weight: 600;
  color: #f8f9fa;
  border: none;

  margin-top: 10px;
  padding: 10px;
}

.add_address {
  display: flex;
  flex-direction: row;
  gap: 2%;
  align-items: center;
  justify-content: flex-start;

  color: #0c8599;
  background: none;
  border: none;
}

.adddress_cards_section {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.address_card {
  background-color: #f8f9fa;
  margin-bottom: 10px;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add_new_btn,
.add_edit_btn {
  height: 1.5em;
  width: 1.5em;
}

.address_type,
.username {
  font-weight: 600;
}

.address_card_btn {
  padding: 2px 8px;
  border: none;
  background: #0c8599;
  color: #fff;
}

/*  */
#tsum-tabs h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

#tsum-tabs p {
  margin: 0 0 20px;
  line-height: 1.5;
}

#tsum-tabs main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

#tsum-tabs section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

#tsum-tabs input {
  display: none;
}

#tsum-tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

#tsum-tabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

#tsum-tabs label:hover {
  color: #888;
  cursor: pointer;
}

#tsum-tabs input:checked+label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #0c8599;
  border-bottom: 1px solid #fff;
}

#tsum-tabs #tab1:checked~#content1,
#tsum-tabs #tab2:checked~#content2,
#tsum-tabs #tab3:checked~#content3,
#tsum-tabs #tab4:checked~#content4 {
  display: block;
}

.om-payment-form {
  font-size: 110%;
}

.checkbox {
  display: block !important;
}

.pty-1 input,
.pty-2 input,
.pty-3 input,
.pty-4 input,
.pty-5 input {
  display: block !important;
}

.pty-1 label,
.pty-2 label,
.pty-3 label,
.pty-4 label,
.pty-5 label {
  white-space: nowrap !important;
}

.om-paymnt-type {
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
}

.pty-1,
.pty-2,
.pty-3,
.pty-4,
.pty-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
  white-space: nowrap;
}

.om-payment-details {
  display: flex;
  flex-direction: column;
}

.inpt-1 input,
.inpt-2 input,
.inpt-3 input,
.inpt-4 input,
.inpt-5 input {
  display: block !important;
  border: solid 1px #888;
  height: 33px;
  width: 100%;
  padding: 0 1.4%;
}

.inpt-1,
.inpt-2,
.inpt-3,
.inpt-4,
.inpt-5 {
  margin-top: 3%;
}

@media screen and (max-width: 950px) {
  .checkout_wrapper {
    flex-direction: column !important;
    align-items: center !important;
  }

  .contact_info {
    width: 100%;
  }

  .checkout_card {
    width: 100%;
    justify-content: space-between;
  }

  .checkout_section {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  #tsum-tabs label {
    font-size: 0;
  }

  #tsum-tabs label:before {
    margin: 0;
    font-size: 18px;
  }

  .om-paymnt-type {
    flex-direction: column;
    align-items: baseline;
  }
}

@media screen and (max-width: 400px) {
  #tsum-tabs label {
    padding: 15px;
  }
}

/* _______________ */

@media (max-width: 1440px) {
  .checkout_mcard {
    display: none;
  }

  .pre_data {
    margin-right: 12%;
  }
}

@media (max-width: 1240px) {
  .pre_data {
    margin-right: 12%;
  }
}

@media (max-width: 1140px) {
  .checkout_mcard {
    display: none;
  }

  .pre_data {
    margin-right: 12%;
  }
}

@media (max-width: 450px) {
  .checkout_card {
    display: flex;
    font-size: 14px;
  }

  /* .checkout_mcard {
    display: grid;
    flex-direction: row;
    border: 20px solid #f8f9fa;
    padding: 2% 3% 1% 3%;
  } */

  .checkout_wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 26%;
  }

  .contact_info {
    width: 80%;
  }

  .checkout_section {
    margin-top: 5%;
    width: 100%;
  }

  .product_name {
    font-size: 120%;
  }

  .pn_wrap {
    width: 50%;
    overflow: hidden;
    overflow-x: scroll;
  }

  .first_row,
  .fourth_row {
    font-size: 140%;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25%;
  }

  .second_row {
    font-size: 140%;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 12%;
  }

  .third_row {
    font-size: 140%;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .subtotal,
  .shipping {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25%;
  }
}

@media (max-width: 350px) {

  .first_row,
  .second_row,
  .third_row,
  .fourth_row,
  .rpay,
  .cod,
  .co_login_btn {
    font-size: 120%;
  }
}