.popular__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popular__padding {
  padding: 4.6rem 0.4rem;
}

.popular_dis {
  font-family: var(--font-alt);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.1px;

  margin-top: 0.6rem;
  margin-bottom: 3rem;

  color: #5e6e89;
}

.popular_card_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

/* .bootstrap_img {
    width: 100%;
    height: 100%;
} */

.carousel__start {
  display: none;
}

.carosel_button,
.MuiButton-root,
.carosel_arrow button {
  min-width: 10px !important;
}

.carosel_arrow {
  height: 25px;
  width: 15px;
  margin: 0 10px;
}

.MuiButton-root {
}

/* **** MEDIA QUERY START **** */

@media (max-width: 1442px) {
  .popular_card_wrapper {
    gap: 1.3rem;
  }
}

@media (max-width: 450px) {
  .popular_dis {
    text-align: center;
    margin-bottom: 2rem;
  }

  .popular__padding {
    padding: 2rem 1rem;
  }

  /* 
        .popular_card_wrapper {
            display: none;
        }

        .carousel__start {
            display: flex;
        } */
}

/* **** MEDIA QUERY END **** */
