.footer__main_section {
  background: #272727;
}

.footer_line {
  background: #fff;
  width: 100%;
  height: 2px;
}

.footer__flex_wrapper {
  display: flex;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.footer__logo_section {
  max-width: 250px;
}

.footer_logo_wrapper {
  /* display: flex; */
  align-items: center;
  gap: 0.6rem;
  /* margin-top: 2rem; */
}

.footer_m_logo {
  height: 3.5rem;
  width: 3.5rem;
}

.footer_text_logo {
  height: 2rem;
  width: 6rem;
}

.footer_logo_text {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;

  letter-spacing: -0.5px;
  margin-top: 10px;

  color: #ffffff;

  padding-left: 25px;
}

/* ** FOOTER LINKS SECTION START */

.footer__links_section {
  display: flex;
  justify-content: space-between;

  margin-top: 1rem;
  margin-right: 3rem;
}

.link_section_first {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  min-width: 1.5rem;
}

.footer_blue_link {
  color: var(--color-sky);
  font-family: var(--font-base);

  font-size: 1.1rem;
}

.footer_simple_link {
  color: var(--color-white);
  font-family: var(--font-alt);
  font-size: 1rem;
}

html {
  position: relative;
}

.float_wapp {
  position: fixed;

  bottom: 60px;
  right: 60px;

  width: 3rem;
  height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px;
}

.float_wapp2 {
  position: fixed;

  bottom: 109px;
  right: 59px;

  width: 3rem;
  height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px;
}

/* ** FOOTER LINKS SECTION END */

/* *** MEDIA QUERY START *** */

@media (max-width: 450px) {
  .float_wapp {
    width: 3.5rem;
    height: 3.5rem;
    bottom: 40px;
    right: 40px;
  }

  .float_wapp2 {
    width: 3rem;
    height: 3rem;
    bottom: 100px;
    right: 45px;
  }

  /* .footer-logo-padding {
    padding-left: 15px;
  } */

  .footer__flex_wrapper {
    padding-left: 0px;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }

  .footer__links_section {
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin-right: 0;
    justify-content: center;
  }

  .link_section_first {
    margin: 1rem;
    padding: 1rem;
    gap: 0.6rem;
    background: #495057;
    min-width: 10.5rem;
    border-radius: 10px;
  }

  .footer_logo_wrapper,
  .footer__logo_section {
    justify-content: center;
    padding-left: 15px;
    /* text-align: center; */
  }
}

/* *** MEDIA QUERY END *** */