.section__padding {
  padding: 4rem 6rem;
}

.main__section_padding {
  padding: 4.6rem 9.4rem;
}

p {
  margin: 0;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:focus {
  outline: 0;
}

.app__bg {
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.custom__button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;
  font-size: 23px;
}

.base__heading_text {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 500;
  /* font-size: 40px; */
  line-height: 58px;

  letter-spacing: -0.9px;

  color: #0b254b;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
/* ***************************** Contact Us ***************************** */

.contactus_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.contact_form {
  padding: 0 3%;
}

.contact_input-box {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.contect_submit-btn {
  background-color: #45a049;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.contect_submit-btn :hover,
.contect_submit-btn :visited {
  background-color: transparent !important;
  border: 1px solid #45a049 !important;
  color: #45a049 !important;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.c_fname,
.c_phone,
.c_email,
.c_country,
.c_state,
.c_city,
.c_msg {
  font-size: 110%;
  font-weight: 500;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
/* ***************************** Privacy Policies ***************************** */
.Utility_Wrapper {
  min-height: 100vh;
  margin: 10% 5% 5% 5%;
}

.Utility_Title {
  font-size: 120%;
  font-weight: 600;
}

.Utility_Desc {
  font-size: 120%;
  text-align: justify;
}

/* ***************************** Terms & Conditions ***************************** */

/* ***************************** Help ***************************** */

/* 
@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  
  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
}*/

@media screen and (max-width: 450px) {
  .main__section_padding {
    padding: 3rem 3rem;
  }

  .base__heading_text {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
  }

  .Utility_Wrapper {
    margin: 22% 5% 5% 5%;
  }
}
