@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400&display=swap");

:root {
  --font-base: "Poppins", sans-serif;
  --font-alt: "Roboto", sans-serif;

  --color-black: #272727;
  --color-gray: #545454;
  --color-base: #f7f8fa;
  --color-grey: #aaaaaa;
  --color-white: #ffffff;
  --color-sky: #22b8cf;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

link {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* wishlist */
/* .sc_main {
  padding: auto;
} */

.sc_name {
  width: 100%;
  height: 150px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #227077;
  margin-top: 150px;
  margin-bottom: 30px;
}

.img_wishlist {
  /* border: solid black 2px; */
  width: 100px;
  height: 100px;
  display: block;
  object-fit: cover;
}

/* .content{
  display: flex;
  justify-content: center; */
/* gap: -200px; */
/* padding-left: 100px; */
/* justify-content: space-around;
  margin: 0 auto;
} */

.content {
  height: 100vh;
  width: 100%;
}

/* ._wishlist {
  border: solid rgb(187, 4, 4) 2px;
  width: 100px;
  height: 100px;
  display: block;
  object-fit: cover;
} */

/* .wishlist_info{ */
/* max-width: 1100px; */
/* margin: 0 auto;
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px; */
/* margin-bottom: 40px;
} */

.wishlist_info {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.title_wishlist {
  display: flex;
  justify-content: space-around;
  gap: 35px;
  margin-bottom: 20px;
}

.item_title {
  width: 316px;
}

.price_title {
  width: 316px;
}

/* .line_wishlist {
  min-width: 100%;
  height: 1px;
  background-color: black;
} */

/* .price_wishlist {
  margin-left: 60px;
} */

.wishlist-line {
  width: 100%;
  height: 1px;
  background-color: #272727;
  margin-bottom: 60px;
}

.cart-line {
  width: 100%;
  height: 1px;
  background-color: #e2e2e2;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Products {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.info_one {
  gap: 10px;
  display: flex;
}

.main_div {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.box_one {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
}

.wishlist-btn {
  background: #0c8599;
  border: 0;
  color: white;
  padding: 15px;
  transition: 0.4s ease;
  height: 1px;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.wishlist-btn:hover {
  background: black;
  cursor: pointer;
}

.delete_wishlist {
  height: 25px;
  width: 25px;
  margin: 0 10px;
}

.resp-wishlist-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ticket upload */
.mm_img_upload_wrapp {
  /* width: 25%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.myprofile_inner_sec2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-width: 250px;
  height: 100%;
  padding: 14px;
  border: 1px solid var(--color-black);
}

.myprofile_inner_sec2_img_upload {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--color-black);
  background: var(--color-white);
  padding: 10px;
  margin-bottom: 1rem;
}

.btn-blue {
  color: var(--color-white);
  background: red;
}

.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  border: none;
  min-height: 3rem;

  padding: 0.3rem 1rem;
  line-height: 0px;
  /* color: var(--color-orange2); */
  letter-spacing: normal;
}

.click_upload_btn {
  color: #274480;
  font-weight: 600;
}

.btn-orange {
  color: var(--color-white);
  background: #274480;
}

/* 
@media screen and (max-width: 590px) {
  /* .content {
    display: flex;
  } */
/* }   */

@media screen and (max-width: 815px) {
  .wishlist_info {
    display: none;
  }

  .wishlist-btn {
    font-size: 13px;
  }
}

@media screen and (min-width: 815px) {
  .main_div {
    display: none;
  }
}

@media screen and (max-width: 410px) {
  .main_div {
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .img_wishlist {
    height: 90px;
    width: 90px;
  }
}

@media screen and (max-width: 600px) {
  .wishlist-desc {
    font-size: 14px;
  }

  .wishlist-price {
    display: flex;
    font-size: 15px;
  }

  .content {
    display: flex;
    /* gap: 500px; */
  }

  .delete_wishlist {
    height: 20px;
    width: 20px;
  }
}